@media (max-width: 1250px) {
   .container {
      max-width: 600px;
   }


   /* Header */
   .header-navigation,
   .header-button {
      display: none;
   }


   /* Menu */
   .menu-burger {
      display: block;
   }

   
   /* Intro */
   .intro {
      width: 100%;
      position: relative;
   }

   .intro-content {
      text-align: center;
      width: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }

   .intro-title {
      color: #fff;
   }

   .intro-text {
      color: #D9DBDE;
   }

   .intro-button {
      border: solid 2px #fff;
      color: #fff;
   }

   .intro-button:hover {
      background-color: #fff;
      color: #333;
   }

   .intro-images {
      width: 100%;
      height: 700px;
      z-index: -1;
      filter: brightness(55%);
      background-image: url("../img/intro/image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
   }

   .intro-images img {
      display: none;
   }


   /* Cootage */
   .cootage {
      position: relative;
   }

   .cootage-image {
      width: 100%;
      height: 700px;
      filter: brightness(50%);
   }

   .cootage-content {
      width: 100%;
      text-align: center;
      position: absolute;
   }

   .cootage-title {
      color: #fff;
   }

   .cootage-text {
      color: #D9DBDE;
   }

   .cootage-button {
      border: solid 2px #fff;
      color: #fff;
   }

   .cootage-button:hover {
      background-color: #fff;
      color: #333;
   }


   /* Features */
   .features {
      display: flex;
      justify-content: space-between;
   }

   .features-block {
      display: block;
      position: relative;
      width: 250px;
      height: 250px;
   }

   .features-image {
      width: 100%;
      height: 100%;
      filter: brightness(50%);
   }

   .features-content {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 220px;
      height: 220px;
      text-align: center;
      z-index: 1;
   }

   .features-title {
      color: #fff;
      font-size: 25px;
   }

   .features-text {
      margin-top: 10px;
      color: #D9DBDE;
      font-size: 16px;
   }


   /* Rooms */
   .rooms-types {
      display: block;
   }

   .rooms-type {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .rooms-text {
      width: 100%;
   }

   .rooms-image {
      width: 300px;
      height: 425px;
   }

   .rooms-content {
      width: 250px;
   }

   .rooms-name {
      font-size: 35px;
   }


   /* Get */
   .get {
      display: block;
      height: auto;
   }

   .get-content {
      text-align: center;
      width: 100%;
   }

   .get-buttons {
      width: 400px;
      margin: 0 auto;
      margin-top: 20px;
   }

   .get-accordion {
      margin-top: 45px;
   }


   /* Footer */
   .footer-info {
      width: 150px;
   }

   .footer-links {
      width: 400px;
   }
}


@media (max-width: 625px) {
   .container {
      max-width: 325px;
   }

   
   /* Intro */
   .intro {
      margin-top: 30px;
   }

   .intro-content {
      width: 100%;
   }

   .intro-title {
      font-size: 35px;
   }

   .intro-text {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 15px;
   }

   .intro-images {
      height: 500px;
   }


   /* Cootage */
   .cootage {
      margin-top: 80px;
   }

   .cootage-image {
      height: 500px;
   }

   .cootage-content {
      width: 100%;
   }

   .cootage-title {
      font-size: 25px;
      width: 90%;
      margin: 0 auto;
   }

   .cootage-text {
      width: 80%;
      margin: 0 auto;
      font-size: 16px;
      margin-bottom: 10px;
   }


   /* Features */
   .features {
      margin-top: 80px;
      display: block;
   }

   .features-block {
      width: 100%;
      height: 325px;
   }

   .features-content {
      top: 10%;
   }

   .features-title {
      font-size: 27px;
   }

   .features-text {
      margin-top: 15px;
      font-size: 17px;
   }


   /* Rooms */
   .rooms-type {
      display: block;
      margin-bottom: 60px;
   }

   .rooms-name {
      margin-top: 5px;
   }

   .rooms-info {
      margin-top: 10px;
      margin-bottom: 10px;
   }


   /* Get */
   .get-buttons {
      width: 100%;
      display: block;
   }

   .get-buttons button:first-child {
      margin-bottom: 15px;
   }

   .get-accordion {
      width: 100%;
   }

   .get-accordion-name {
      width: 200px;
   }


   /* Footer */
   .footer-inner {
      display: block;
      text-align: center;
      padding: 80px 0 40px 0;
   }

   .footer-info {
      width: 100%;
   }

   .footer-networks {
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 50px;
   }
   
   .footer-links {
      display: block;
      width: 100%;
   }

   .footer-links div {
      margin-top: 45px;
   }
}